<div class="container">
    <div class="blank-slate" ng-if="!signs.length">
        <i class="text-gray-light icon ion-android-color-palette"></i>
        <h2>You haven't added signs yet!</h2>
        <div class="card-content pv bb" style="display: flex; flex-flow: center;">
            <div class="text-center" style="margin: auto;">
                <a ng-click="createSign()" class="btn btn-lg btn-primary">Create a Sign</a>
            </div>
        </div>
    </div>
    <div class="row" ng-if="signs.length">
        <div class="col-sm-3 section-summary">
            <h3>Your Signs</h3>
        </div>
        <div class="col-sm-9">
            <div class="card card-form">
                <div class="card-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sign Text</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sign in signs">
                                <td>
                                    <span ng-bind="sign.headline"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="signs.length">
        <div class="col-sm-3 section-summary">
            <h3>Preview</h3>
            <p>Preview your SimpleSign slideshow.</p>
        </div>
        <div class="col-sm-9">
            <div class="card card-form">
                <div class="card-content pv bb" style="display: flex; flex-flow: center;">
                    <div class="text-center" style="margin: auto;">
                    <a class="btn btn-primary" ng-href="http://simplesign.firebaseapp.com/#/display/{{accountId}}" target="_blank"><span>View Preview  <i class="ion-android-open"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
