<div class="container">
    <div class="blank-slate" ng-if="!signs.length">
        <i class="text-gray-light icon ion-android-color-palette"></i>
        <h2>You haven't added signs yet!</h2>
        <div class="card-content pv bb" style="display: flex; flex-flow: center;">
            <div class="text-center" style="margin: auto;">
                <a href="#/create">
                    <button class="btn btn-lg btn-primary">Create a Sign</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row" ng-if="signs.length">
        <div class="col-sm-3 section-summary">
            <h3>Your Signs</h3>
        </div>
        <div class="col-sm-9">
            <div class="card card-form">
                <div class="card-content">
                    <h3>Sign Text</h3>
                    <div ng-repeat="sign in signs" class="signs-view-headline-cell" ng-style='{"background": "linear-gradient(to top left," + sign.colors[0] + ", " + sign.colors[1] + ")"}'>
                        <span ng-hide="sign.headline.length > 46">{{ sign.headline | limitTo: 47 }}</span>
                        <span ng-show="sign.headline.length > 46" style="-webkit-mask-image: -webkit-gradient(linear, 75% 0, 100% 0, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));">{{ sign.headline | limitTo: 47 }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="signs.length">
        <div class="col-sm-3 section-summary">
            <h3>SimpleSign URL</h3>
            <p>Preview your SimpleSign slideshow in your browser.</p>
        </div>
        <div class="col-sm-9">
            <div class="card card-form">
                <div class="card-content">
                    <a ng-href="http://simplesign.firebaseapp.com/#/display/{{accountId}}" target="_blank">View Your Slideshow Preview</a>
                </div>
            </div>
        </div>
    </div>
</div>
