<form class="form-material sign-preview">
    <div class="row">
        <div class="col-md-3 section-summary">
            <h3>Write your Sign</h3>
            <p>Customize your new sign by typing in whatever text you'd like to appear on the screen.</p>
            <p><a href="http://support.enplug.com/hc/en-us/articles/201437329-About-the-Weather-App" target="_blank">Learn more</a></p>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div ng-class="landscapePreview ? 'col-sm-5' : 'col-md-6'">
                            
                            <div id="searchBoxParent" class="mt-lg"></div>
                            <!-- from Directory app header title entry -->
                            <input ng-model="signtext.headline"
                                            type="text"
                                            class="mt-sm pb"
                                            field="headerAsset.Value.Title"
                                            label="Enter title text">
                            </input>
                            <label >
                            </label>

                            <p class="text-md text-g">Text must be less than 80 characters.</p>
                        </div>

                        <!-- Preview container -->
                        <div class="col-md-6">
                            <!-- need to replace this with preview for sign -->
                            <!-- copied the code for landscape vs portrait preview from directory -->
                            <div class="preview" ng-class="landscapePreview ? 'col-sm-7' : 'col-sm-6'">
                                <div class="preview-wrapper" ng-class="landscapePreview ? 'landscape' : 'portrait'">
                                    
                                    <!-- landscape preview -->
                                    <!-- removed table etc - need to remove other styling code that pulls in from the entered assets (altho we might use that later if they want to set the color) -->
                                    <!-- this just needs to point to the titletext -->
                                    <!-- Styling set in app.scss -->
                                    <div class="landscape-preview" ng-if="landscapePreview" ng-style="{ 'background-color': 'aqua' }">
                                        <div class="title"><span>{{ signtext.headline | limitTo: 80 }}</span></div>
                                    </div>

                                    <!-- portrait preview -->
                                    <!-- removed table etc - need to remove other styling code that pulls in from the entered assets (altho we might use that later if they want to set the color) -->
                                    <!-- this just needs to point to the titletext -->
                                    <!-- Styling set in app.scss -->
                                    <div class="portrait-preview" ng-if="!landscapePreview" ng-style="{ 'background-color': 'black'}">
                                        <div class="title"><span>{{ signtext.headline | limitTo: 80 }}</span></div>
                                    </div>

                                    <!-- This allows them to choose whether it's landscape or portrait. Should we get their screen orientation automatically instead? -->
                                    <p class="tc mt-lg">Preview: <a ng-click="landscapePreview = true">Landscape</a> or <a ng-click="landscapePreview = false">Portrait</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
