<table class="table table--hover table--condensed table--open" st-table="syncedGraphics" st-safe-src="graphics" st-set-sort="stNestedSort">
    <thead>
        <tr>
            <th style="width: 50px;">
                <material-checkbox>
                    <input type="checkbox" ng-checked="selected.length && selected.length === graphics.length" ng-click="selectAll()">
                </material-checkbox>
            </th>
            <th st-sort="Value.Name">Name</th>
            <th st-sort="Value.Mimetype">Type</th>
            <th st-sort="Instances.length">Displays</th>
            <th st-sort="Value.IsInactive">Status</th>
            <th style="width: 50px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="slide in signs | orderBy:orderBy">
            <td>
                <material-checkbox>
                    <input type="checkbox" ng-checked="selected.indexOf(graphic.Id) > -1" ng-click="select(graphic.Id)">
                </material-checkbox>
                <div>{{ slide.headline }}</div>
            </td>
        </tr>
    </tbody>
</table>    
